@page "/"
@using Mud.Data;
@using Microsoft.EntityFrameworkCore;
@using System.Text.Json;
@using System.Diagnostics;



<div style="border: black 1px solid; padding: 1em;">

    @{
        var products = TestIProducts.GetTestProducts();
        if (products != null)
        {
            <div>
                <h2>Products</h2>
                <ul>
                    @foreach (var product in products)
                    {
                        <li>@product.Value.Id - @product.Value.Brand - @product.Value.Name - @product.Value.Description - @product.Value.Price - [@product.Value.Quantity] </li>
                    }
                </ul>
            </div>
        }

        var dbContext = new SQLiteContext();
        IStorage _storage = new ProductStorage(dbContext);

        _storage.ClearStorage();

        Product concreteProduct = (Product) products[1];
        Console.WriteLine(JsonSerializer.Serialize(concreteProduct));

        var result = _storage.AddProduct(concreteProduct);
        Console.WriteLine($"AddProduct: {result}");

        var returnedProduct = _storage.GetProductById(concreteProduct.Id);
        Console.WriteLine($"ReturnedProduct: {JsonSerializer.Serialize(returnedProduct)}");

        Console.WriteLine("Done");

    }

</div>
<br />



